<!DOCTYPE html>
<html>
    <head>
        <title>ZOMBIE FOREST</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <div class="map">
            <p>ZOMBIE FOREST</p> 
            <canvas id="canvasID" width="640px" height="640px" style="border: 1px solid black;"></canvas>
        </div>
        
        <div class="score">
            <p>Имя: <span id="user"></span></p>
            <p>Очки: <span id="score">0</span></p>
            <p>Уровень: <span id="level">1</span></p>
            <p>Жизни дома: <span id="hLife">♥ ♥ ♥</span></p>
        </div>
        
        <script src="../src/main.js" type="module"></script>
    </body>
</html>