include website-head

if user.adminRoot == true
    button(onclick="window.addBook.showModal()", class="leftBar")
        p(class="fa fa-book")  Добавить книгу

dialog#addBook
    form(action="addBook", method="post")
        label(for="title")
            p Название книги
        input(type="text", name="title", required, class="inputLabel")

        label(for="author")
            p Автор книги
        input(type="text", name="author", required, class="inputLabel")

        label(for="releaseYear")
            p Дата выпуска
        input(type="text", name="releaseYear", required, class="inputLabel")
        br
        button(name="book", type="submit", value=num, class="fa-solid fa-check", class = "menu-button")

        button(type="button", onclick="window.addBook.close()", class="fa-solid fa-xmark", class = "menu-button")

form(name="filter")
    label(for="list")
    select(size="1", name="list", id="filterList", form="filter",  onchange="Req(this.options[this.selectedIndex].value)", class="list-filter")
        option(value="default") По умолчанию
        option(value="sortTitle") В алфавитном порядке
        option(value="onlyInStock") В наличие
        option(value="sortDate") По дате возврата

include bookList