include head-page
    form(id="search-filter" method="post")
        input(type="text" name="search" placeholder="Имя")
        input(type="submit" value="submit")

    ol(class = "user-list")
        h3 Список друзей
        each user in friendsList
            li
                div(class = user.status.toString())
                    img(src = "../public/images/avatars/" + user.id.toString() + ".jpg", class = "user-avatar")
                    span  #{user.surname} #{user.name} #{user.patronymic} (#{user.birthdate})
                    if user.role == "admin"
                        span [admin]
                    a(href = "/usersList/friends/" + user.id, class="user-list-ref") друзья
                    a(href = "/usersList/posts/" + user.id, class="user-list-ref") новости


