<div class = "header-container" style="padding: 20px;">
    <div class="header-line"></div>  
    <div class = "header-logo">
        <img src="/assets/images/logo.png" width="60px">
        <p>ОДНОГРУППНИКИ</p>
    </div>
    <div class="header-small-elem">
        <a href="/friends">друзья</a> 
    </div>
    <div class="header-small-elem">
        <a href="/news">новости</a> 
    </div>
    <div class="header-small-elem">
        <a href="/messenger">сообщения</a> 
    </div>
    <ng-template [ngIf]="isAdmin"><div class="header-small-elem">
        <a href="http://localhost:3000/usersList">администрирование</a>
    </div></ng-template>
    <div class="header-user-elem">
        <div style="display: flex; align-items: center;">
        <img src="/assets/images/avatar/{{userID}}.png" class="header-avatar">
        <span style="font-size: 21px; padding-left: 10px; padding-right: 10px;">{{userName}}</span>
        </div>
        <a href="/login" style="display:block; text-align: center;" *ngIf="userID == '0'">войти</a>
        <a href="/login" style="display:block; text-align: center;" *ngIf="userID != '0'">логин</a>
    </div>
</div>