<div>
    <p>Имя:</p>
    <input [(ngModel)]="name">
    <p>Фамилия:</p>
    <input [(ngModel)]="surname">
    <p>Отчество:</p>
    <input [(ngModel)]="patronymic">
    <p>День рождения:</p>
    <input type="date" [(ngModel)]="birthdate">
    <p>Почта:</p>
    <input [(ngModel)]="email">
    <p>Пароль:</p>
    <input type="password" [(ngModel)]="password">
    <p>Повторите пароль:</p>
    <input type="password" [(ngModel)]="checkPassword">
<div>
<button (click)="registerUser()">Нажми меня</button>
<p>{{comment}}</p>
